.dashboard {
  background-color: #0A122A;
}

footer {
  background-color: #080e22;
  color: #FBFAF8;
}
footer section {
  display: flex;
  justify-content: center;
}
footer section > * {
  margin: 1.5em;
}
footer a {
  color: #99b6f1;
}
footer a:visited {
  color: #4076e4;
}

header {
  background-color: #9A031E;
  color: white;
}
header h1 {
  margin: 0;
  padding: 0.5em;
}
header button {
  position: absolute;
  right: 1em;
  top: 1.25em;
  color: #FBFAF8;
  background-color: #0A122A;
  padding: 0.5em 1em;
  border-radius: 3px;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  .movie-list {
    max-width: 1200px;
    margin: auto;
  }
}
.movie-list .movie-card {
  margin: 1%;
  height: 8em;
  width: 80%;
}
@media (min-width: 480px) {
  .movie-list .movie-card {
    width: 45%;
  }
}
@media (min-width: 720px) {
  .movie-list .movie-card {
    width: 35%;
  }
}
@media (min-width: 960px) {
  .movie-list .movie-card {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .movie-list .movie-card {
    width: 20%;
  }
}

.movie-card {
  position: relative;
  background-position: center top;
  background-size: 100% auto;
}
.movie-card h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
  text-align: center;
  color: #FBFAF8;
  padding: 0.5em 0;
}
.movie-card:hover {
  cursor: pointer;
}
