@import "../../node_modules/react-slideshow-image/dist/styles.css";
.dashboard {
  background-color: #0A122A;
}

footer {
  background-color: #080e22;
  color: #FBFAF8;
}
footer section {
  display: flex;
  justify-content: center;
}
footer section > * {
  margin: 1.5em;
}
footer a {
  color: #99b6f1;
}
footer a:visited {
  color: #4076e4;
}

header {
  background-color: #9A031E;
  font-family: "Archivo Black", sans-serif;
}
header a {
  color: white;
  text-decoration: none;
}
header a h1 {
  margin: 0;
  padding: 0.5em;
}
header button {
  position: absolute;
  right: 1em;
  top: 1.25em;
  z-index: 100;
  color: #FBFAF8;
  background-color: #0A122A;
  padding: 0.5em 1em;
  border-radius: 3px;
  text-align: center;
}
header button.active {
  position: fixed;
}
header .title {
  display: flex;
}
header .logo {
  margin-left: 1em;
  margin-top: 0.25em;
  height: 4em;
  width: auto;
}

main {
  position: relative;
}
main h1, main h2, main h3, main h4 {
  font-family: "Archivo Black", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter {
  background: linear-gradient(#9A031E, #0A122A, #0A122A, #0A122A);
  color: white;
  display: flex;
  justify-content: center;
}
.filter article {
  padding: 3em 1em 2em;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  .movie-list {
    max-width: 90%;
    margin: auto;
  }
}
.movie-list .movie-card {
  margin: 1%;
  width: 80%;
}
@media (min-width: 480px) {
  .movie-list .movie-card {
    width: 45%;
  }
}
@media (min-width: 720px) {
  .movie-list .movie-card {
    width: 35%;
  }
}
@media (min-width: 960px) {
  .movie-list .movie-card {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .movie-list .movie-card {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .movie-list .movie-card {
    width: 16%;
  }
}

.movie-card {
  position: relative;
  background-position: center top;
  background-size: 100% auto;
}
.movie-card h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
  text-align: center;
  color: #FBFAF8;
  padding: 0.5em 0;
}
.movie-card img {
  width: 100%;
  height: auto;
}
.movie-card:hover {
  cursor: pointer;
}

nav {
  display: none;
  position: fixed;
  width: 10em;
  height: 100vh;
  background-color: #ccdbf8;
  top: 0;
  right: 0;
  padding-top: 4em;
  box-shadow: 2px 0px 8px #0A122A inset;
  z-index: 50;
}
nav a {
  color: #0A122A;
  display: block;
  padding: 0.5em 1em;
  text-align: right;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
}
nav a:visited {
  color: #9A031E;
}
nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}
nav.active {
  display: block;
}

.slideshow .images-wrap > div {
  position: relative;
}
.slideshow .each-slide {
  height: 50vh;
  background-size: auto 100%;
}
@media (min-width: 650px) {
  .slideshow .each-slide {
    background-size: 100% auto;
  }
}
.slideshow .each-slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.25em 2em 0.25em 1em;
  margin: 0;
  font-size: 2.5em;
  color: #FBFAF8;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Archivo Black", sans-serif;
}
.slideshow .each-slide button {
  position: absolute;
  bottom: 1em;
  right: 2em;
  background-color: #D10000;
  border-radius: 3px;
}
.slideshow .each-slide button a {
  color: #FBFAF8;
  text-decoration: none;
}
.slideshow .each-slide button:hover {
  cursor: pointer;
}
.slideshow .each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}
.slideshow .each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

@keyframes slideshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fate {
  from {
    opacite: 1;
  }
  to {
    opacity: 0;
  }
}
.single-movie {
  position: relative;
}
.single-movie .exit-single-movie-view {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 10;
  padding: 0;
  color: #FBFAF8;
  text-decoration: none;
  text-shadow: 0px 0px 5px #000;
  font-weight: bold;
  font-size: 1.25em;
}
.single-movie .backdrop {
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 7em;
  position: relative;
}
@media (min-width: 360px) {
  .single-movie .backdrop {
    height: 10em;
  }
}
@media (min-width: 480px) {
  .single-movie .backdrop {
    height: 14em;
  }
}
@media (min-width: 720px) {
  .single-movie .backdrop {
    height: 21em;
  }
}
@media (min-width: 960px) {
  .single-movie .backdrop {
    height: 28em;
  }
}
@media (min-width: 1200px) {
  .single-movie .backdrop {
    height: 35em;
  }
}
.single-movie .backdrop h2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FBFAF8;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-family: "Archivo Black", sans-serif;
  font-size: 1em;
}
@media (min-width: 360px) {
  .single-movie .backdrop h2 {
    font-size: 1.125em;
  }
}
@media (min-width: 480px) {
  .single-movie .backdrop h2 {
    font-size: 1.25em;
  }
}
@media (min-width: 720px) {
  .single-movie .backdrop h2 {
    font-size: 1.5em;
    padding-left: 3em;
  }
}
.single-movie .tagline {
  padding: 0 1em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-family: "Bungee Shade", cursive;
}
.single-movie .single-movie-info {
  padding: 1em;
}
.single-movie .single-movie-info > div {
  width: 80%;
  margin: 0 auto;
  padding: 1em;
}
.single-movie .single-movie-info > div > img {
  max-width: 100%;
}
@media (min-width: 720px) {
  .single-movie .single-movie-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .single-movie .single-movie-info > div, .single-movie .single-movie-info .movie-details {
    box-sizing: border-box;
    width: 50%;
  }
}
.single-movie .single-movie-info .movie-details {
  padding: 1em;
}
.single-movie .single-movie-info .details {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.single-movie .single-movie-info .details div {
  padding: 1em;
}
.single-movie .single-movie-info .videos > div {
  margin: 0 auto 2em;
  width: auto !important;
}
.single-movie .single-movie-info .pomodoros {
  max-width: 1em;
  margin-left: 0.25em;
}

.under-construction {
  text-align: center;
  font-size: 5em;
}
