header {
  background-color: $darkRed;
  h1 {
    margin: 0;
    padding: .5em;
    a {
      color: white;
      text-decoration: none;
    }
  }
  button {
    position: absolute;
    right: 1em;
    top: 1.25em;
    @include button($white, $darkBlue);
  }
}
