header {
  background-color: $darkRed;

  a {
    color: white;
    text-decoration: none;
    h1 {
      margin: 0;
      padding: .5em;
  }
  }
  button {
    position: absolute;
    right: 1em;
    top: 1.25em;
    z-index: 100;
    @include button($white, $darkBlue);
    &.active {
      position: fixed;
    }
  }
  .title {
    display: flex;
  }
  .logo {
    margin-left: 1em;
    margin-top: .25em;
    height: 4em;
    width: auto;
  }
}
