.single-movie {
  position: relative;

  .exit-single-movie-view{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 10;
    padding: 0;
    color: $white;
    text-decoration: none;
    text-shadow: 0px 0px 5px #000;
    font-weight: bold;
    font-size: 1.25em;
  }

  .backdrop {
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 7em;

    @include breakpoint(narrow) {
      height: 10em;
    }
    @include breakpoint(small) {
      height: 14em;
    }
    @include breakpoint(medium) {
      height: 21em;
    }
    @include breakpoint(large) {
      height: 28em;
    }
    @include breakpoint(wide) {
      height: 35em;
    }

    position: relative;
    h2 {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      width: 100%;
      bottom: 0;
      margin: 0;
      padding: 1em;
      box-sizing: border-box;

      font-size: 1em;
      @include breakpoint(narrow) {
        font-size: 1.125em;
      }
      @include breakpoint(small) {
        font-size: 1.25em;
      }
      @include breakpoint(medium) {
        font-size: 1.5em;
        padding-left: 3em;
      }
    }
  }




  .tagline {
    padding: 0 1em;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }



  .single-movie-info{

    padding: 1em;
    > div {
      width: 80%;
      margin: 0 auto;
      padding: 1em;
      > img {
        max-width: 100%;
      }
    }




    @include breakpoint(medium) {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      > div, .movie-details {
        box-sizing: border-box;
        width: 50%;
      }
    }

    .movie-details {
      padding: 1em;
    }

    .details {
      padding: 1em;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      div {
        padding: 1em;
      }
    }

    .videos > div {
      margin: 0 auto 2em;
      width: auto !important;
    }

    // @media (max-width: map-get($breakpoints, small) + 1) {
    //   img {
    //     width: 60%;
    //     margin: auto;
    //   }
    // }

    // @include breakpoint(small) {
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: space-around;
    // }

    // img {
    //   @include breakpoint(small) {
    //     width: 50%;
    //   }
    //   @include breakpoint(medium) {
    //     width: 40%;
    //   }
    //   @include breakpoint(large) {
    //     width: 30%;
    //   }
    //   @include breakpoint(wide) {
    //     width: 25%;
    //   }
    // }



    // div {
    //   display: flex;
    //   align-items: center;
    //   h4 {
    //     margin: 1em 0;
    //   }
    //   p {
    //     padding-left: .5em;
    //   }
    // }

  }
}
