.slideshow {
  .images-wrap > div {
    position: relative;
  }
  .each-slide {
    height: 50vh;
    background-size: auto 100%;
    @include breakpoint(tablet) {
      background-size: 100% auto;
    }
    h2 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: .125em 2em .125em 1em;
      margin: 0;
      font-size: 2.5em;
      color: $white;
      width: 100%;
      background-color: rgba(0, 0, 0, .5);
    }
    button {
      position: absolute;
      bottom: 1em;
      right: 2em;
      background-color: $red;
      border-radius: 3px;
      a {
        color: $white;
        text-decoration: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }

  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

}

@keyframes slideshow {
  from  {opacity: 0;}
  to    {opacity: 1;}
}

@keyframes fate {
  from  {opacite: 1;}
  to    {opacity: 0;}
}
