$breakpoints: (
  small: 480px,
  medium: 720px,
  large: 960px,
  wide: 1200px
);

@mixin breakpoint($name) {
  @each $label, $size in $breakpoints {
    @if $name == $label {
      @media (min-width: $size) {
        @content;
      }
    }
  }
}

$darkBlue: #0A122A;
$blue: #80A4ED;
$gray: #838691;
$red: #D10000;
$darkRed: #9A031E;
$white: #FBFAF8;
