$breakpoints: (
  narrow: 360px,
  small: 480px,
  tablet: 650px,
  medium: 720px,
  large: 960px,
  wide: 1200px,
  wider: 1400px
);

$darkBlue: #0A122A;
$blue: #80A4ED;
$gray: #838691;
$red: #D10000;
$darkRed: #9A031E;
$white: #FBFAF8;
